<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8"/>
<title>Heroku CloudNative</title>
<script type="text/javascript" src="//code.jquery.com/jquery-2.2.4.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<link href="//use.fontawesome.com/releases/v5.8.1/css/all.css" rel="stylesheet"/>
<meta name="viewport" content="width=device-width,initial-scale=1"/>

<meta name="viewport" content="width=device-width,initial-scale=1"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
<meta name="apple-mobile-web-app-title" content="Heroku CloudNative"/>

<style type="text/css">
html, body{
  text-align: center;
  background-color: #fafafa;
  font-size: 20px;
  color: #333;
}
</style>
<script>
$(function(){
});

function showItemModal( item ){
  /*
  $('#itemModalTitle').html( name );
  $('#itemModalBody-image').prop( 'src', image_url );
  */
  $('#itemModal').modal();
}
</script>
</head>
<body>

<div class="container" style="text-align: right;">
  <button class="btn btn-warning" onClick="appLogout();" title="logout"><%= user.name %></button>
</div>

<div class="container">
  <table class="table">

<% 
if( items && items.length > 0 ){
  for( var i = 0; i < items.length; i ++ ){ 
%>
    <tr id="item_tr_<%= items[i].id %>">
      <td><img src="<%= items[i].image_url %>" width="100"/></td>
      <td><%= items[i].name %></td>
      <td><%= items[i].price %></td>
      <td>
        <button class="btn btn-success">detail</button>
      </td>
    </tr>
<%
  }
}
%>
  </table>
</div>

<div class="modal fade" id="itemModal" tabindex="-1" role="dialog" aria-labelledby="itemModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="itemModalBody">
        <h5 id="itemModalTitle" style="font-weight: bold;"></h5>
      </div>

      <div class="modal-footer" style="justify-content: center;">
        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>
</body>
</html>
